@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.body-wrapper {
}

body {
  margin: 0;
  font-family: 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-wrapper {
}
.navbar-blur {
  backdrop-filter:blur(10px);
}

::-webkit-scrollbar {
  width:2px;
}
